---
title: Pivotal Telemetry Collector
owner: Telemetry
---

This guide describes the Pivotal Telemetry Collector. Topics covered in this
guide include Pivotal Telemetry Collector security measures, installation, and
configuration.

For information about Telemetry for Pivotal Container Service (PKS), see [PKS
Telemetry](https://docs.pivotal.io/runtimes/pks/telemetry.html).

## <a id="overview"></a>Overview

Pivotal continuously strives to learn and measure results in order to put customer
experience at the forefront of our product decisions. Data and continuous feedback
loops shape the way Pivotal builds software.

Pivotal Telemetry Collector is an automated tool
that collects foundation data from the Pivotal Cloud Foundry (PCF) Ops
Manager API and securely sends that data to Pivotal.

Pivotal uses this information to do the following:

  * Improve its products and services.
  * Fix problems.
  * Advise customers on how best to deploy and use Pivotal products.
  * Provide better customer support.

Pivotal is currently providing select customers and partners with early
access to Pivotal Telemetry Collector. To sign up for early access, contact your
Pivotal field team or
email
[pivotal-telemetry-support@pivotal.io](mailto:pivotal-telemetry-support@pivotal.io).

## <a id="requirements"></a>Requirements

To use Pivotal Telemetry Collector, you need the following:

  - A currently supported version of Pivotal Cloud Foundry (PCF)
    Ops Manager
  - Pivotal Telemetry Collector API credentials provided by Pivotal
  - The ability to enable egress from the Collector to `https://telemetry.pivotal.io` on port `433`.

## <a id="contact-us"></a>Contact Us

If you have any further questions, comments, or concerns about Pivotal
Telemetry Collector, contact the Pivotal Telemetry team at
[pivotal-telemetry-support@pivotal.io](mailto:pivotal-telemetry-support@pivotal.io).
