---
title: VMware Tanzu Telemetry Collector
owner: Telemetry
---

![Telemetry Collector](images/cli_screenshot.png)

## <a id="overview"></a>Overview

This guide describes Tanzu Telemetry Collector, a stand-alone tool, and light-weight alternative
to the Tanzu Telemetry for Ops Manager tile. It can be used manually as a CLI or automated through
Concourse. The tool can be configured and automated to share product usage and consumption data with VMware
so that we can improve our products and services based on insights from real-world usage.

## <a id="getting-an-api-key"></a>Getting an API Key

Get your Telemetry API key from the VMware contacts that you work with, or by emailing the Tanzu Telemetry team at tanzu-portfolio-insights-support@vmware.com.

## <a id="getting-started"></a>Getting Started

1. Download the [Tanzu Telemetry Collector from Tanzu Network](https://network.pivotal.io/products/pivotal-telemetry-collector/).
1. Agree to the End User License Agreement (EULA) that’s presented at the time of download. This indicates your intent to participate in the VMware Tanzu Telemetry Program.
1. Get your Telemetry API key from the VMware contacts that you work with, or by emailing the Tanzu Telemetry team at tanzu-portfolio-insights-support@vmware.com.
1. Run and configure the Tanzu Telemetry Collector CLI. For guidance, see the Configuration Reference section.

## <a id="requirements"></a>Requirements

To use Tanzu Telemetry Collector, you will need the following:

  - A currently supported version of Tanzu Cloud Foundry (PCF)
    Ops Manager
  - Tanzu Telemetry Collector API credentials provided by VMware
  - The ability to enable egress from the Telemetry Collector to `https://telemetry.pivotal.io` on port `443`.


## <a id="access-to-data"></a>Access to Data

Data collected from your environments will be made available to the VMware teams that you work with and presented to you through PDF reports. We are iteratively building new ways for you to access your data in the future.

## Customer Experience Improvement Program ##
This product participates in VMware’s Customer Experience Improvement Program (“CEIP”).  Details regarding the data collected through CEIP and the purposes for which it is used by VMware are set forth at the Trust & Assurance Center at http://www.vmware.com/trustvmware/ceip.html.  To join the CEIP for this product please install and accept the terms during installation. To leave the CEIP for this product, uninstall the product.

## <a id="contact-us"></a>Contact Us

If you would like to send data to VMware via the Tanzu Telemetry Collector, please reach out to the Tanzu Telemetry team at
[tanzu-portfolio-insights-support@vmware.com](mailto:tanzu-portfolio-insights-support@vmware.com).
