---
title: Pivotal Telemetry Collector
owner: Telemetry
---

This guide describes Pivotal Telemetry Collector, a stand-alone tool, and light-weight alternative to to the Pivotal Telemetry for Ops Manager tile. It can be used manually as a CLI or automated through Concourse. The tool can be configured to share product usage data with Pivotal so that we could help improve our products and services based on real-world feedback.

* For information about the telemetry tile that ships with Ops Manager 2.8, see [Pivotal Telemetry for Ops Manager](https://docs.pivotal.io/telemetry/pivotal-telemetry-for-ops-manager).
* For information about the stand-alone telemetry CLI, see [Pivotal Telemetry Collector](https://docs.pivotal.io/telemetry/pivotal-telemetry-collector).
* For information about Telemetry for Pivotal Container Service (PKS), see [PKS Telemetry](https://docs.pivotal.io/runtimes/pks/telemetry.html).

## <a id="requirements"></a>Requirements

To use Pivotal Telemetry Collector, you will need the following:

  - A currently supported version of Pivotal Cloud Foundry (PCF)
    Ops Manager
  - Pivotal Telemetry Collector API credentials provided by Pivotal
  - The ability to enable egress from the Telemetry Collector to `https://telemetry.pivotal.io` on port `443`.

## <a id="opt-in"></a>How To Opt In
To opt-in to Pivotal Telemetry Collector you will need to download the tool from Pivnet, accept the End User License Agreement (EULA), and enter a Pivotal-issued API key specific to telemetry.

## <a id="contact-us"></a>Contact Us

If you would like to send data to Pivotal via the Telemetry Collector, please reach out to the Pivotal Telemetry team at
[pivotal-telemetry-support@pivotal.io](mailto:pivotal-telemetry-support@pivotal.io).
