---
title: Release Notes
owner: Telemetry
---

This page documents the release notes for all releases related to version 0.7.

## <a id="release-notes"></a>Release Notes

## <a id='v0.7.7'></a>v0.7.7

* NTP Server information is now redacted from the Diagnostic Report output.

## <a id='v0.7.6'></a>v0.7.6

* Ensures compatibility with OpsManager 2.6 for CredHub certificates.

## <a id='v0.7.5'></a>v0.7.5

* Ensures that no concurrent network connections are made to OpsManager and other services during data collection.

## <a id='v0.7.4'></a>v0.7.4

* Improved error messaging.

## <a id='v0.7.3'></a>v0.7.3

* Increased the http request timeout for requests to the Usage Service from 5 to 30 seconds.

## <a id='v0.7.2'></a>v0.7.2

* The Telemetry Collector can now be optionally configured to collect information about application instances (AIs), service instances (SIs), and tasks via the Usage Service.




