---
title: Release Notes
owner: Telemetry
---

This page documents the release notes for all releases related to the Pivotal Telemetry Collector v1.0.

## <a id='v1.0.1'></a>v1.0.1

* GA release for the Pivotal Telemetry Collector.
* The Telemetry Collector is now packaged as a single versioned file to make it easier to automate.
