---
title: Release Notes
owner: Telemetry
---

This page documents the release notes for all releases related to the Pivotal Telemetry Collector v1.1.

## <a id='v1.1.3'></a>v1.1.3

* Minor improvements

## <a id='v1.1.2'></a>v1.1.2

* Security updates
* Windows bug fix to ensure `collect` command output un-tars correctly on unix systems

## <a id='v1.1.1'></a>v1.1.1

* Minor improvements

## <a id='v1.1.0'></a>v1.1.0

* Enforces TLS 1.2 for https connections.
* Adds `--config` flag to enable passing in a config file to specify other command flags.
* Removes cert installation in provided `send` Concourse task
