---
title: Release Notes
owner: Telemetry
---

This page documents the release notes for all releases related to the VMware Tanzu Telemetry Collector v1.3.

## <a id='v1.3.6'></a>v1.3.6

This release is a feature improvement of our collection mechanism that permits the collection of only usage and operational data by passing the flag --operational-data-only.
