---
title: Release Notes
owner: Telemetry
---

This page documents the release notes for all releases related to the VMware Tanzu Telemetry Collector v1.1.

## <a id='v1.1.6'></a>v1.1.6

* Resolve dependency issue that was causing timeouts during collection with the 1.1.5 collector
* Add OpsManagerRequestTimeout flag to CLI

## <a id='v1.1.5'></a>v1.1.5

* Minor security improvements

## <a id='v1.1.4'></a>v1.1.4

* Input flag to set a foundation's nickname
* Update naming conventions to mention VMware instead of Pivotal

## <a id='v1.1.3'></a>v1.1.3

* Minor improvements

## <a id='v1.1.2'></a>v1.1.2

* Security updates
* Windows bug fix to ensure `collect` command output un-tars correctly on unix systems

## <a id='v1.1.1'></a>v1.1.1

* Minor improvements

## <a id='v1.1.0'></a>v1.1.0

* Enforces TLS 1.2 for https connections.
* Adds `--config` flag to enable passing in a config file to specify other command flags.
* Removes cert installation in provided `send` Concourse task
