---
title: Using Tanzu Telemetry Collector with Concourse
owner: Telemetry
---

VMware recommends running the Tanzu Telemetry Collector with Concourse.

If you do not have Concourse deployed within your environment, you can run the collector
manually from the command line. See [Using the Telemetry Collector for PCF CLI ](./using-cli.html).

## <a id="configure"></a>Configure collection with Concourse

Configure a new job in your pipeline using the example pipeline below as a guide.

```
resource_types:
- name: pivnet
  type: registry-image
  source:
    repository: pivotalcf/pivnet-resource
    tag: latest-final

resources:
- name: pivotal-telemetry-collector
  type: pivnet
  source:
    api_token: {{pivnet-api-token}}
    product_slug: pivotal-telemetry-collector
- name: execution-image
  type: pivnet
  source:
    api_token: {{pivnet-api-token}}
    product_slug: platform-automation
- name: timer-trigger
  type: time
  source:
    interval: 168h # trigger collection once a week

jobs:
- name: collect-and-send-data
  plan:
  - get: execution-image
    params:
      globs: ["platform-automation-image*"]
      unpack: true
  - get: timer-trigger
    trigger: true
  - get: binary
    resource: pivotal-telemetry-collector
    params:
      globs: ["*.tgz"]
      unpack: true
  - get: tasks
    resource: pivotal-telemetry-collector
    params:
      globs: ["*.tgz"]
      unpack: true
  - task: collect
    image: execution-image
    file: tasks/collect.yml
    params:
      OPS_MANAGER_URL: {{your-ops-manager-url}}
      OPS_MANAGER_USERNAME: {{your-ops-manager-username}}
      OPS_MANAGER_PASSWORD: {{your-ops-manager-password}}
      ENV_TYPE: {{your-env-type}}
      INSECURE_SKIP_TLS_VERIFY: false #setting to true will skip tls verification of Ops Manager
      # Optionally set a foundation nickname
      FOUNDATION_NICKNAME: {{your-foundation-nickname}}
      # Optionally collect from Usage Service
      CF_API_URL: {{your-cf-api-url}}
      USAGE_SERVICE_URL: {{your-usage-service-url}} # This URL is typically: https://app-usage.YOUR-SYSTEM-DOMAIN
      USAGE_SERVICE_CLIENT_ID: {{your-usage-service-client-id}}
      USAGE_SERVICE_CLIENT_SECRET: {{your-usage-service-client-secret}}
      USAGE_SERVICE_INSECURE_SKIP_TLS_VERIFY: false #setting to true will skip tls verification of the Usage Service
  - task: send
    image: execution-image
    file: tasks/send.yml
    params:
      API_KEY: {{vmware-provided-api-key}}
```
